In [41]:
import pandas as pd
from flask import Flask, jsonify, render_template
app = Flask(__name__)
import datetime as dt

In [42]:
df = pd.read_csv("Meteorite_Landings.csv")
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1/1/1951 0:00,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1/1/1952 0:00,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1/1/1976 0:00,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1/1/1902 0:00,-33.16667,-64.95000,"(-33.166670, -64.950000)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1/1/1919 0:00,32.10000,71.80000,"(32.100000, 71.800000)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1/1/1949 0:00,44.83333,95.16667,"(44.833330, 95.166670)"
7,Agen,392,Valid,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.216670, 0.616670)"
8,Aguada,398,Valid,L6,1620.0,Fell,1/1/1930 0:00,-31.60000,-65.23333,"(-31.600000, -65.233330)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1/1/1920 0:00,-30.86667,-64.55000,"(-30.866670, -64.550000)"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,1/1/1974 0:00,16.39806,-9.57028,"(16.398060, -9.570280)"
11,Aïr,424,Valid,L6,24000.0,Fell,1/1/1925 0:00,19.08333,8.38333,"(19.083330, 8.383330)"
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,01/01/1769 12:00:00 AM,50.66667,2.33333,"(50.666670, 2.333330)"
13,Akaba,426,Valid,L6,779.0,Fell,1/1/1949 0:00,29.51667,35.05000,"(29.516670, 35.050000)"
14,Akbarpur,427,Valid,H4,1800.0,Fell,01/01/1838 12:00:00 AM,29.71667,77.95000,"(29.716670, 77.950000)"
15,Akwanga,432,Valid,H,3000.0,Fell,1/1/1959 0:00,8.91667,8.43333,"(8.916670, 8.433330)"
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1/1/1981 0:00,39.91667,42.81667,"(39.916670, 42.816670)"
17,Al Rais,446,Valid,CR2-an,160.0,Fell,1/1/1957 0:00,24.41667,39.51667,"(24.416670, 39.516670)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,1/1/2001 0:00,13.66033,28.96000,"(13.660330, 28.960000)"
19,Alais,448,Valid,CI1,6000.0,Fell,01/01/1806 12:00:00 AM,44.11667,4.08333,"(44.116670, 4.083330)"
20,Albareto,453,Valid,L/LL4,2000.0,Fell,01/01/1766 12:00:00 AM,44.65000,11.01667,"(44.650000, 11.016670)"
21,Alberta,454,Valid,L,625.0,Fell,1/1/1949 0:00,2.00000,22.66667,"(2.000000, 22.666670)"
22,Alby sur Chéran,458,Valid,Eucrite-mmict,252.0,Fell,1/1/2002 0:00,45.82133,6.01533,"(45.821330, 6.015330)"
23,Aldsworth,461,Valid,LL5,700.0,Fell,01/01/1835 12:00:00 AM,51.78333,-1.78333,"(51.783330, -1.783330)"
24,Aleppo,462,Valid,L6,3200.0,Fell,01/01/1873 12:00:00 AM,36.23333,37.13333,"(36.233330, 37.133330)"
25,Alessandria,463,Valid,H5,908.0,Fell,01/01/1860 12:00:00 AM,44.88333,8.75000,"(44.883330, 8.750000)"
26,Alexandrovsky,465,Valid,H4,9251.0,Fell,1/1/1900 0:00,50.95000,31.81667,"(50.950000, 31.816670)"
27,Alfianello,466,Valid,L6,228000.0,Fell,01/01/1883 12:00:00 AM,45.26667,10.15000,"(45.266670, 10.150000)"
28,Allegan,2276,Valid,H5,32000.0,Fell,01/01/1899 12:00:00 AM,42.53333,-85.88333,"(42.533330, -85.883330)"
29,Allende,2278,Valid,CV3,2000000.0,Fell,1/1/1969 0:00,26.96667,-105.31667,"(26.966670, -105.316670)"
...,...,...,...,...,...,...,...,...,...,...
45686,Ysleta,30375,Valid,"Iron, ungrouped",140700.0,Found,1/1/1914 0:00,31.65000,-106.18333,"(31.650000, -106.183330)"
45687,Yucca 015,57175,Valid,H-metal,3.0,Found,1/1/2011 0:00,34.81970,-114.27610,"(34.819700, -114.276100)"
45688,Yucca 016,57158,Valid,H5,25.9,Found,1/1/2011 0:00,34.82658,-114.27763,"(34.826580, -114.277630)"
45689,Yucca 017,57159,Valid,H5,200.0,Found,1/1/2011 0:00,34.81923,-114.27735,"(34.819230, -114.277350)"
45690,Yudoma,30376,Valid,"Iron, IVA",7600.0,Found,1/1/1946 0:00,60.00000,140.00000,"(60.000000, 140.000000)"
45691,Zacatecas (1792),30381,Valid,"Iron, ungrouped",1000000.0,Found,01/01/1792 12:00:00 AM,22.81667,-102.56667,"(22.816670, -102.566670)"
45692,Zacatecas (1969),30382,Valid,"Iron, IIIAB",6660.0,Found,1/1/1969 0:00,NaN,NaN,NaN
45693,Zaffra,30383,Valid,"Iron, IAB-MG",3000.0,Found,1/1/1919 0:00,35.00000,-94.75000,"(35.000000, -94.750000)"
45694,Zag (b),30385,Valid,Winonaite,300.0,Found,1/1/1999 0:00,27.33333,-9.33333,"(27.333330, -9.333330)"
45695,Zagora,30387,Valid,"Iron, IAB-ung",50000.0,Found,1/1/1987 0:00,30.36667,-5.85000,"(30.366670, -5.850000)"
45696,Zakłodzie,30390,Valid,Enst achon-ung,8680.0,Found,1/1/1998 0:00,50.76278,22.86611,"(50.762780, 22.866110)"
45697,Zapaliname,30392,Valid,"Iron, IAB-MG",85000.0,Found,1/1/1998 0:00,25.00944,-100.75000,"(25.009440, -100.750000)"
45698,Zapata County,30393,Valid,Iron,NaN,Found,1/1/1930 0:00,27.00000,-99.00000,"(27.000000, -99.000000)"
45699,Zapotitlán Salinas,30394,Valid,L4,27.7,Found,1/1/1984 0:00,18.33333,-97.50000,"(18.333330, -97.500000)"
45700,Zaragoza,48916,Valid,"Iron, IVA-an",162000.0,Found,NaN,41.65000,-0.86667,"(41.650000, -0.866670)"
45701,Zegdou,30398,Valid,H3,6700.0,Found,1/1/1998 0:00,29.75000,-4.50000,"(29.750000, -4.500000)"
45702,Zelfana,31353,Valid,L5,1058.0,Found,1/1/2002 0:00,32.15833,4.63333,"(32.158330, 4.633330)"
45703,Zenda,30400,Valid,"Iron, IAB complex",3700.0,Found,1/1/1955 0:00,42.51333,-88.48944,"(42.513330, -88.489440)"
45704,Zerga,30402,Valid,LL6,76.0,Found,1/1/1973 0:00,20.25000,-12.68333,"(20.250000, -12.683330)"
45705,Zerhamra,30403,Valid,"Iron, IIIAB-an",630000.0,Found,1/1/1967 0:00,29.85861,-2.64500,"(29.858610, -2.645000)"
45706,Zerkaly,31354,Valid,H5,16000.0,Found,1/1/1956 0:00,52.13333,81.96667,"(52.133330, 81.966670)"
45707,Zhaoping,54609,Valid,"Iron, IAB complex",2000000.0,Found,1/1/1983 0:00,24.23333,111.18333,"(24.233330, 111.183330)"
45708,Zhigansk,30405,Valid,"Iron, IIIAB",900000.0,Found,1/1/1966 0:00,68.00000,128.30000,"(68.000000, 128.300000)"
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,1/1/1981 0:00,31.20000,112.50000,"(31.200000, 112.500000)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,1/1/1990 0:00,29.03700,17.01850,"(29.037000, 17.018500)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1/1/1990 0:00,29.03700,17.01850,"(29.037000, 17.018500)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1/1/1999 0:00,13.78333,8.96667,"(13.783330, 8.966670)"
45713,Zlin,30410,Valid,H4,3.3,Found,1/1/1939 0:00,49.25000,17.66667,"(49.250000, 17.666670)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,1/1/2003 0:00,49.78917,41.50460,"(49.789170, 41.504600)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1/1/1976 0:00,33.98333,-115.68333,"(33.983330, -115.683330)"

In [40]:
df = df.sort_values(by=['year'],ascending=False)
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
703,Nogata,16988,Valid,L6,472.00,Fell,12/28/0860 12:00:00 AM,33.72500,130.75000,"(33.725000, 130.750000)"
678,Narni,16914,Valid,Stone-uncl,NaN,Fell,12/27/0920 12:00:00 AM,42.51667,12.51667,"(42.516670, 12.516670)"
278,Elbogen,7823,Valid,"Iron, IID",107000.00,Fell,12/24/1399 12:00:00 AM,50.18333,12.73333,"(50.183330, 12.733330)"
1040,Valdinoce,24146,Valid,Stone-uncl,NaN,Fell,12/23/1495 12:00:00 AM,44.06667,12.10000,"(44.066670, 12.100000)"
283,Ensisheim,10039,Valid,LL6,127000.00,Fell,12/23/1491 12:00:00 AM,47.86667,7.35000,"(47.866670, 7.350000)"
852,Rivolta de Bassi,22614,Valid,Stone-uncl,103.30,Fell,12/23/1490 12:00:00 AM,45.48333,9.51667,"(45.483330, 9.516670)"
5329,Campo del Cielo,5247,Valid,"Iron, IAB-MG",50000000.00,Found,12/22/1575 12:00:00 AM,-27.46667,-60.58333,"(-27.466670, -60.583330)"
729,Oliva-Gandia,18012,Valid,Stone-uncl,NaN,Fell,12/22/1519 12:00:00 AM,39.00000,-0.03333,"(39.000000, -0.033330)"
38188,Ur,24125,Valid,Iron,NaN,Found,1/22/2501 0:00,30.90000,46.01667,"(30.900000, 46.016670)"
30679,Northwest Africa 7701,57150,Valid,CK6,55.00,Found,1/1/2101 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30777,Northwest Africa 7862,57426,Valid,L4/5,317.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30772,Northwest Africa 7856,57421,Valid,LL6,517.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30771,Northwest Africa 7855,57420,Valid,H4,916.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30778,Northwest Africa 7863,57427,Valid,LL5,1000.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30773,Northwest Africa 7857,57422,Valid,LL6,246.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
194,Chelyabinsk,57165,Valid,LL5,100000.00,Fell,1/1/2013 0:00,54.81667,61.11667,"(54.816670, 61.116670)"
30776,Northwest Africa 7861,57425,Valid,L5,611.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30727,Northwest Africa 7755,57166,Valid,Martian (shergottite),30.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30760,Northwest Africa 7822,57268,Valid,Achondrite-ung,45.80,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30759,Northwest Africa 7812,57258,Valid,Angrite,46.20,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30774,Northwest Africa 7858,57423,Valid,H4,459.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30649,Northwest Africa 7666,56675,Valid,LL6,442.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30467,Northwest Africa 7401,56167,Valid,EL6,995.59,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30465,Northwest Africa 7397,55749,Valid,Martian (shergottite),2130.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30653,Northwest Africa 7675,56684,Valid,L5,663.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30651,Northwest Africa 7668,56677,Valid,H4,2500.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30650,Northwest Africa 7667,56676,Valid,L4,172.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30642,Northwest Africa 7658,56728,Valid,L3.5,109.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30448,Northwest Africa 7380,55737,Valid,LL~5,61.70,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30586,Northwest Africa 7584,56427,Valid,L6,195.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
...,...,...,...,...,...,...,...,...,...,...
29558,Northwest Africa 5828,50706,Valid,H5,2799.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29568,Northwest Africa 5838,50716,Valid,H6,1438.70,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29574,Northwest Africa 5844,50722,Valid,L5,1000.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29575,Northwest Africa 5845,50723,Valid,L5,3000.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29582,Northwest Africa 5852,50730,Valid,L6,293.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29583,Northwest Africa 5853,50731,Valid,L6,74.50,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29926,Northwest Africa 6514,52949,Valid,LL(L)3.1,3200.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
30060,Northwest Africa 6704,53609,Valid,Achondrite-ung,8387.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
30107,Northwest Africa 6853,54612,Valid,L~6,22.28,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
30346,Northwest Africa 724,17806,Valid,LL3,1200.00,Found,NaN,30.23333,-5.86667,"(30.233330, -5.866670)"
30353,Northwest Africa 725,17807,Valid,Acapulcoite,3824.00,Found,NaN,30.60000,-5.05000,"(30.600000, -5.050000)"
30364,Northwest Africa 726,17808,Valid,H4,354.00,Found,NaN,31.03333,-4.00000,"(31.033330, -4.000000)"
30911,Nova 008,45818,Valid,L6,4200.00,Found,NaN,NaN,NaN,NaN
30912,Nova 009,45819,Valid,H4,7300.00,Found,NaN,NaN,NaN,NaN
30919,Nuevo Mercurio (c),48690,Valid,H5-6,16.80,Found,NaN,24.26000,-102.14083,"(24.260000, -102.140830)"
31018,Österplana 006,44806,Relict,Relict OC,NaN,Found,NaN,58.58333,13.43333,"(58.583330, 13.433330)"
35808,Ramlat as Sahmah 426,56439,Valid,H4,92.00,Found,NaN,20.11306,56.39750,"(20.113060, 56.397500)"
35809,Ramlat as Sahmah 427,56515,Valid,H5,7.60,Found,NaN,20.09889,56.40972,"(20.098890, 56.409720)"
35810,Ramlat as Sahmah 428,56516,Valid,L6,16247.00,Found,NaN,20.10361,56.32694,"(20.103610, 56.326940)"
36029,Rio Bunge,22607,Valid,L,11.00,Found,NaN,NaN,NaN,NaN
36030,Río Cuarto 001,44799,Valid,Eucrite,62.70,Found,NaN,-32.87167,-64.22333,"(-32.871670, -64.223330)"
37375,Sayh al Uhaymir 557,56432,Valid,H4,3.00,Found,NaN,20.17417,56.51111,"(20.174170, 56.511110)"
37641,Sleeper Camp 005,23631,Valid,H5,129.00,Found,NaN,-30.17367,126.29233,"(-30.173670, 126.292330)"
37704,Squaw Creek,23693,Valid,"Iron, IIAB",14500.00,Found,NaN,32.00000,-98.00000,"(32.000000, -98.000000)"
38118,Uasara,55266,Valid,"Iron, IIAB",3140.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
38128,Um-Hadid,24114,Valid,Mesosiderite,15400.00,Found,NaN,21.69500,50.59667,"(21.695000, 50.596670)"
38201,Valencia,24147,Valid,H5,33500.00,Found,NaN,39.00000,-0.03333,"(39.000000, -0.033330)"
38224,Villa Regina,53827,Valid,"Iron, IIIAB",5030.00,Found,NaN,-39.10000,-67.06667,"(-39.100000, -67.066670)"
38328,Wiltshire,56143,Valid,H5,92750.00,Found,NaN,51.14967,-1.81000,"(51.149670, -1.810000)"
45700,Zaragoza,48916,Valid,"Iron, IVA-an",162000.00,Found,NaN,41.65000,-0.86667,"(41.650000, -0.866670)"

In [39]:
#df.describe()

In [5]:
# This is another site that has the densities of the meteorite types in a table
df_densities = pd.read_html("http://meteorites.wustl.edu/id/density.htm")

In [6]:
#df_densities